{% extends 'base.html' %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% load contenidos_filters %}

{% block pagetitle %}{{ object.titulo }}{% endblock %}

{% block contenidos %}

    <article id="main" class="content container small pagina error404">
            <h2>{% trans "Error 404" %}</h2>
            <p>{% blocktrans %}Página no encontrada. Lá página que está buscando ya no se encuentra disponible, pruebe volviendo al <a href="/">sitio principal</a>{% endblocktrans %}</p>
    </article>

{% endblock %}